In [1]:
import pandas as pd

df=pd.read_csv("city.csv")
df

         date    city  temp  speed
0  01-02-2029   delhi    64     23
1    1-2-1010  mumbai    56     34
2    1-2-1019   delhi    33     24
3  01-01-2018  mumbai    54     32

In [3]:
g=df.groupby('city')
g

In [5]:
for c,ci in g:
    print(c)
    print(ci)

delhi
         date   city  temp  speed
0  01-02-2029  delhi    64     23
2    1-2-1019  delhi    33     24
mumbai
         date    city  temp  speed
1    1-2-1010  mumbai    56     34
3  01-01-2018  mumbai    54     32

In [6]:
g.get_group('mumbai')

         date    city  temp  speed
1    1-2-1010  mumbai    56     34
3  01-01-2018  mumbai    54     32

In [7]:
g.max()

            date  temp  speed
city
delhi   1-2-1019    64     24
mumbai  1-2-1010    56     34

In [8]:
g.mean()

        temp  speed
city
delhi   48.5   23.5
mumbai  55.0   33.0

In [10]:
g.describe()

        temp                                                  speed        \
       count  mean        std   min    25%   50%    75%   max count  mean
city
delhi    2.0  48.5  21.920310  33.0  40.75  48.5  56.25  64.0   2.0  23.5
mumbai   2.0  55.0   1.414214  54.0  54.50  55.0  55.50  56.0   2.0  33.0


             std   min    25%   50%    75%   max
city
delhi   0.707107  23.0  23.25  23.5  23.75  24.0
mumbai  1.414214  32.0  32.50  33.0  33.50  34.0

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.